@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&family=Playfair+Display&family=Poppins:wght@200;300;400&display=swap');

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}
.personal-h1{
  font-family: Playfair;
  font-size: 9rem;
  font-weight: 400;
}
.personal-h2{
  font-family: poppins;
  font-size: 3rem;
  font-weight: 200;
}
.personal-p{
  font-family: poppins;
  font-size: 1.6rem;
  font-weight: 300;
}
.personal-p2{
  font-family: poppins;
  font-size: 1.3rem;
  font-weight: 300;
}